
@font-face {
  font-family: 'regular';
  font-style: normal;
  font-weight: 700;
  src: local('poppins'), local('poppins'), url(./assets/fonts/Poppins-Regular.ttf)format('truetype');
} 
@font-face {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 700;
  src: local('poppins'), local('poppins'), url(./assets/fonts/Poppins-SemiBold.ttf)format('truetype');
} 
@font-face {
  font-family: 'poppins-bold';
  font-style: normal;
  font-weight: 800;
  src: local('poppins-bold'), local('poppins-bold'), url(./assets/fonts/Poppins-ExtraBold.ttf)format('truetype');
} 

:root {
  font-family: regular, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: rgba(0, 0, 0, 0.87);
  --body-color: #fff;
  
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--body-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 30px;
}
::selection {
  background-color: #f1f1f1;
}
::-moz-selection {
  background-color: #f1f1f1;
}

#wrapper {
  margin-top: 3em;
  padding: 0 2em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.7em 2em;
  background-color: rgba(254, 254, 254, 0.7);
  backdrop-filter: blur(8px);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 1em;
}
#header img {
  width: 30px;
  height: 30px;
  border-radius: 50px;	
}
#header-logo {
  font-family: poppins-bold, sans-serif;
  color: var(--color);
  text-decoration: none;
}


#home-table-cont { 
  margin-top: 4em; 
  overflow-x: auto; 
} 
#home-table { 
  width: 100%; 
  border-collapse: collapse; 
} 
#home-table th {
  padding: 0.5em 10px;
  text-align: left;
}
.home-table-data {
  white-space: nowrap;
  padding: 0.7em 10px;
  text-align: left;
  font-family: regular, sans-serif; 
  font-size: 0.9em;
}
.home-table-data a {
  text-decoration: none;
  color: dodgerblue;
}
#home-table thead {
  background-color: #f1f1f1;
  font-family: 'poppins', sans-serif;
  font-size: 14.05px;
  color: rgba(5, 5, 5, 0.75);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}
#home-table-header-fchild {
  border-radius: 10px 0px 0px 10px;
}
#home-table-header-lchild {
  border-radius: 0px 10px 10px 0px;
}
.home-table-data-profile {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ddd;
  border: none;
  outline: none;
}
.home-table-databody {
  cursor: pointer;
  border-bottom: 1px solid #ddd;	
  transition: 0.8s;
}
.home-table-databody:hover {
  background-color: #f6f6f6;	
}

#tint {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-upload-cont {
  background-color: white;
  padding: 2em 1em;
  border-radius: 10px;
  width: 40%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 1em; 
  overflow-y: auto;
  position: fixed;
  max-height: 90%;
}
#home-upload-cont::-webkit-scrollbar {
  width: 0.7em;
}
#home-upload-cont::-webkit-scrollbar-thumb {
  background-color: #eee;
}
.home-uploader-input {
  padding: 0.8em 0.7em;	
  width: 70%;
  font-family: regular, sans-serif;
  border: 1px solid #ccc;
  transition: 0.1s;
  outline: none;
}
.home-uploader-input:hover {
  border: 1px solid dodgerblue;	
  border-radius: 5px;
}
.home-uploader-inputupload {
  padding: 0.8em 0.7em;	
  width: 45px;
  height: 45px;
  border: 1px solid #ccc;
  transition: 0.1s;
  outline: none;	
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#home-uploader-footer {
  display: flex;
  justify-content: space-around; 	
  width: 70%;
}
.home-uploader-footer-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 2em;
  background-color: #eee;
  border-radius: 4px;
  font-family: regular, sans-serif;
}
#home-loadmore {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 2em;
  border-radius: 4px;
  font-family: poppins, sans-serif; 
  margin-top: 1em;
  float: right;
  background-color: dodgerblue;
  color: white;
  margin-bottom: 1em;
}
.home-table-votes-ico:hover {
  color: dodgerblue;
}


#overview-b {
  width: 100%;
  margin-top: 2em;
}
.overview-header {
  font-family: poppins;
  margin-bottom: 13px;
}

#ob-comment-s-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.6em;  
}
#ob-comment-s-cont textarea {
  resize: none;
  height: 50px; 
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: regular;
  transition: 0.1s;
  padding: 10px; 
  outline: none;
}
#ob-comment-s-cont textarea:hover {
  border: 1px solid dodgerblue;
}
#ob-comment-s-cont textarea::-webkit-scrollbar {
  display: none;
}
#ob-comment-body {
  display: flex;
  flex-direction: column;
  gap: 1em;	
  margin-top: 1em;
}
.ob-comment {
  display: flex;
  gap: 0.8em;
  align-items: center;
  border-bottom: 0.3px solid #eee;
  padding-bottom: 0.8em;
}
.ob-comment-logo {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 50px;	
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
}
.ob-comment-txt {
  font-size: 14.5px;
}
.ob-comment-time {
  font-size: 12px;
  opacity: 0.8;
}

#oa-metadata {
  display: flex;
  align-items: center;
  gap: 1em;
}
#oa-metadata-profile {
  width: 120px;
  height: 120px;
  background-color: #eee;
  border-radius: 10px;
}
.oa-metadata-text {
  font-size: 14px;
  display: block;
}


#table-patcher {
  overflow: auto;
  margin-bottom: 2em;	
}
#table-patcher::-webkit-scrollbar {
  height: 0.6em;
}
#table-patcher::-webkit-scrollbar-thumb {
  background-color: #eee;
}


#overview-upload-pick-cont {	
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
}
.overview-upload-pick {
  padding: 8px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  font-family: regular;
  font-size: 13.7px;
  width: 100%;
  text-align: center;
}
.overview-upload-pick-active {
  background-color: dodgerblue;
  color: white;
  font-family: poppins;
}


@media (max-width: 500px) {
#home-upload-cont,#overview-upload-pick-cont {
  width: 90%;
}
.home-uploader-input,#home-uploader-footer {
  width: 95%;
}
#wrapper {
  padding: 0 1em;
}	
#overview {
  flex-direction: column;
}
#overview-a {
  width: 100%;
}
#overview-b {
  width: 100%;
}
.home-table-data {
  font-size: 0.7em;
}
#home-table thead {
  font-size: 13px;
}
#overview-b {
  width: 100%;
}
}


@media (min-width: 500px) {
#overview {
  width: 75%;
  margin-top: 2em;
  margin: auto;
}
}
